$colorPrimario: rgba(0, 53, 122, 0.811);
$colorPrimarioOpacidad: rgba(0, 53, 122, 0.711);
$colorSecundario: rgba(0, 184, 184,0.900);
$colorTerciario: rgba(88, 0, 191,0.900); 
$bordesRedondeados: 10px;
$bordesRedondeadosGrande: 150px;
$fondo: linear-gradient(156.8deg,  rgba(30,144,231,0.500) 27.1%, rgba(67,101,225,0.500) 77.8%); 
$fontFamilyPrincipal: "El+Messiri:wght" ;
$fontSizeTitulos: 45px;
$colorLetraCards: white;
$colorLetrasBtn: white;
$textomobile: 15px;
$textotablet: 25px;
$textopc: 40px;
$hoverlinks: scale(0.9,0.9);
$coloresbtn: (azul: rgba(0,53,122,0.811),aqua: rgba(0,184,184,0.900),violeta: rgba(88,0,191,0.900));    
$navA:(
    color: $colorPrimario,
    family: $fontFamilyPrincipal,
    size: 15px,
    weight: 600
);
$position: (
    position: absolute,
    top: 0,
    index: 1,
    weigth: 500,
);

@mixin fontColor ($size,$color){
    font-size: $size;
    color: $color;
}


