@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@600&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

.fondo {
  background-image: linear-gradient(156.8deg, rgba(30, 144, 231, 0.5) 27.1%, rgba(67, 101, 225, 0.5) 77.8%);
  font-family: "El+Messiri:wght"; }

.navbar {
  border-radius: 10px; }
  .navbar img:hover {
    transform: scale(0.9, 0.9); }
  .navbar a {
    color: rgba(0, 53, 122, 0.811);
    font-family: "El+Messiri:wght";
    font-size: 15px;
    font-weight: 600; }
    .navbar a:hover {
      transform: scale(0.9, 0.9);
      color: rgba(0, 184, 184, 0.9); }

.header {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 53, 122, 0.811) 30%, rgba(0, 53, 122, 0.711) 70.2%);
  border-radius: 10px; }
  .header h1 {
    font-size: 45px;
    color: rgba(0, 53, 122, 0.811); }
  .header img:hover {
    transform: scale(0.9, 0.9); }

.card {
  color: white;
  background-color: rgba(0, 53, 122, 0.811); }

.btnf, .btnf-primario, .btnf-secundario, .btnf-terciario {
  border-radius: 10px;
  padding: 5px;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none; }
  .btnf:hover, .btnf-primario:hover, .btnf-secundario:hover, .btnf-terciario:hover {
    transform: scale(0.9, 0.9);
    background-color: transparent;
    color: rgba(0, 53, 122, 0.811);
    border: 1px solid rgba(0, 53, 122, 0.811); }

.btnf-primario {
  background-color: rgba(0, 53, 122, 0.811); }

.btnf-secundario {
  background-color: rgba(0, 184, 184, 0.9); }

.btnf-terciario {
  background-color: rgba(88, 0, 191, 0.9); }

.btn {
  color: white;
  font-weight: bold; }

.fondoFooter {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 53, 122, 0.811) 30%, rgba(0, 53, 122, 0.711) 70.2%);
  border-radius: 10px;
  color: white;
  font-family: "El+Messiri:wght"; }
  .fondoFooter p {
    text-transform: uppercase; }
  .fondoFooter .slogan a {
    text-decoration: none;
    color: white; }
    .fondoFooter .slogan a:hover {
      color: rgba(0, 184, 184, 0.9);
      font-weight: bold; }
  .fondoFooter ul li a {
    text-decoration: none;
    color: white; }
    .fondoFooter ul li a:hover {
      color: rgba(0, 184, 184, 0.9);
      font-weight: bold; }
  .fondoFooter img:hover {
    transform: scale(0.9, 0.9); }
  .fondoFooter .imgSobre {
    width: 30px; }
    .fondoFooter .imgSobre:hover {
      transform: scale(0.9, 0.9); }
  .fondoFooter .pieCopyrigth {
    background: rgba(1, 1, 1, 0.3); }

.tarjetaIndex {
  position: relative; }
  .tarjetaIndex .tarjetaBody {
    position: absolute;
    top: 0;
    z-index: 1;
    font-weight: 500;
    color: white;
    background-color: rgba(0, 53, 122, 0.3); }
    .tarjetaIndex .tarjetaBody p {
      font-size: 15px;
      font-family: "El+Messiri:wght"; }

.tarjetaIndexSecundaria p {
  font-size: 15px;
  color: rgba(0, 53, 122, 0.811); }

.carousel .carousel-inner img {
  opacity: 0.8; }

.carousel .carousel-item {
  position: relative; }

.carousel .carousel-caption {
  color: rgba(0, 53, 122, 0.811);
  position: absolute;
  top: 0;
  z-index: 1;
  font-weight: 500; }

.cardMetodoX {
  border: 1px solid white;
  padding: 20px;
  color: white;
  font-weight: 500; }
  .cardMetodoX img {
    margin: 15px; }
  .cardMetodoX .tituloMetodox {
    color: rgba(0, 53, 122, 0.811);
    font-weight: bolder; }

.cardNosotros {
  border-bottom: 10px ridge rgba(0, 53, 122, 0.811);
  font-family: "El+Messiri:wght"; }
  .cardNosotros .fotoNosotros {
    border-radius: 150px; }
  .cardNosotros .textNosotros {
    color: rgba(0, 53, 122, 0.811);
    font-weight: 500; }
  .cardNosotros h3 {
    color: rgba(0, 53, 122, 0.811);
    font-weight: 500; }
  .cardNosotros p {
    color: white;
    font-weight: 500;
    font-size: 15px; }
  .cardNosotros img {
    margin: 10px; }

@media (min-width: 768px) {
  .tarjetaIndex .tarjetaBody p {
    font-size: 25px; }
  .tarjetaIndexSecundaria p {
    font-size: 25px; } }

@media (min-width: 992px) {
  .tarjetaIndex .tarjetaBody p {
    font-size: 40px; }
  .tarjetaIndexSecundaria p {
    font-size: 40px; }
  .cardNosotros h3 {
    font-size: 40px; }
  .cardNosotros .textPrincipal {
    font-size: 25px; }
  .cardNosotros p {
    font-size: 25px; } }
